body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f1ebeb;
}

#results {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(12, 183, 230);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* This will create a semi-transparent black shadow */
}

#sentimentAnalysisContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sentimentAnalysisText {
    /* Additional styles if needed */
    width: 50%;
    /* Adjust width as necessary */
}

#sentimentAnalysisDonutChart {
    /* Additional styles if needed */
    width: 50%;
    /* Adjust width as necessary */
}

.tooltip {
    position: absolute;
    max-width: 200px;
    word-wrap: break-word;
    background-color: #fff;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0.9;
    font-size: 12px;
    z-index: 1000;
}

.label {
    font-size: 14px;
}

.legend text {
    font-size: 14px;
    font-weight: 400;
    /* Adjust the weight as needed */
}

.legend rect {
    stroke-width: 2;
    /* Adjust the stroke width as needed */
}